<#macro layout title js="">
    <!doctype html>
    <html lang="fr">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport"
              content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        <title>${title}</title>

        <link rel="stylesheet" href="/static/css/materialize.min.css">
        <script src="/static/js/materialize.min.js"></script>
    </head>
    <body>
    <div class="container">
        <div class="row">
            <#nested >
        </div>
    </div>
    </body>
    </html>
</#macro>